.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.home-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.home-title {
  color: white;
}
