.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: calc(100vh - 200px);
}

.home-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.home-title {
  color: white;
}
