td {
  color: #201b4f;
}
table tbody tr {
  height: 71px;
  border-bottom: 1px solid #e3f1d5;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  color: white;
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}
table tbody tr:hover td {
  background-color: #d65a27;
}

tr td a {
  text-decoration: none;
  color: white;
  background-color: #ec2c55;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid white;
}
