header {
  background-color: #201b4f;
  padding: 35px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40%;
}

header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .icon {
  font-size: 2rem;
  margin: 0 20px;
  color: #d65a27;
}

header .title h1 {
  letter-spacing: 3px;
}

header .links {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
}

header .links a:hover {
  color: #d65a27;
}
